html, body {
	font-family: Calibri, Arial, Verdana, sans-serif;
	margin: 0px;
	background-image: url(../img/body_background.png);
	font-size: 12pt;
}

#page {
	min-width: 820px;
	max-width: 1100px;
	margin: 30px auto;
	-moz-box-shadow: 0px 0px 15px #AAAAAA;
	-webkit-box-shadow: 0px 0px 15px #AAAAAA;
	box-shadow: 0px 0px 15px #AAAAAA;
}

header {
	background-color: #619FD3;
	color: #FEFEFE;
	height: 99px;
}

header nav {
	position: relative;
	display: inline-block;
	float: right;
}

header nav ul {
	margin: 0px;
	padding: 0px;
}

header nav ul li {
	padding: 10px 0px;
	float: left;
	list-style: none;
}

header nav ul li img {
	margin: 0px;
}

header nav ul li div {
	width: 100px;
	text-align: center;
	position: relative;
	left: -11px;
	top: 0px;
	background-color: #a0c6e5;
	visibility: hidden;
}

header nav ul li #register_click {
	font-family: Calibri, Arial, Verdana, sans-serif;
	width: 330px;
	text-align: right;
	position: absolute;
	top: 110px;
	left: -60px;
	background-color: #a0c6e5;
	display: none;
	visibility: visible;
	font-size: 11pt;
	padding: 5px 10px;
	z-index: 10;
	-moz-box-shadow: 0px 0px 7px #AAAAAA;
	-webkit-box-shadow: 0px 0px 7px #AAAAAA;
	box-shadow: 0px 0px 7px #AAAAAA;
}

header nav ul li #register_click.true {
	display: block;
}

header nav ul li #register_click #register_close {
	position: relative;
	top: 3px;
	border-width: 0px;
    cursor: pointer;
}

header nav ul li #register_click input {
	font-family: Calibri, Arial, Verdana, sans-serif;
	width: 130px;
	text-align: right;
	background-color: #add0ea;
	border: none;
    padding: 4px 15px;
	font-size: 10.5pt;
	color: #FFFFFF;
}

header nav ul li #register_click input.long {
	width: 300px;
}

header nav ul li #register_click span.error {
	color: #D80000;
	font-size: 90%;
	font-weight: bold;
}

header nav ul li #register_click span.success {
	color: #00AA00;
	font-size: 90%;
	font-weight: bold;
}

header nav ul li #register_click input.button {
	font-family: Calibri, Arial, Verdana, sans-serif;
    width: 160px;
	text-align: center;
	background-color: #61A0D4;
    border: none;
	font-size: 11pt;
	color: #FFFFFF;
    padding: 4px 15px;
    cursor: pointer;
}

header nav ul li #register_click input.button:hover {
	background-color: #5d95c3;
}

p.register {
    text-align: justify;
}

table.register {
    width: 300px;
}

table.register td {
    width: 50%;
    vertical-align: top;
    text-align: right;
}

#content {
	min-height: 500px;
	background-color: #FFFFFF;
	padding: 25px;
	line-height: 23px;
}

#content p {
	text-align: justify;
}

#content div.halfwidth {
	width: 50%;
}

#content #map_small {
	width: 600px;
	height: 350px;
	margin-right: 25px;
	margin-bottom: 10px;
	float: left;
	-moz-box-shadow: 0px 0px 15px #AAAAAA;
	-webkit-box-shadow: 0px 0px 15px #AAAAAA;
	box-shadow: 0px 0px 15px #AAAAAA;
}

#content #mapdiv {
	position: relative;
	width: 100%;
	height: 600px;
}

#content #map_big {
	position: absolute;
	width: 100%;
	height: 600px;
	margin-right: 25px;
	margin-bottom: 10px;
	-moz-box-shadow: 0px 0px 15px #AAAAAA;
	-webkit-box-shadow: 0px 0px 15px #AAAAAA;
	box-shadow: 0px 0px 15px #AAAAAA;
	z-index: 1;
}

#content #searchbar {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 21px;
	padding: 0px 0px 0px 10px;
	z-index: 2;
	background-color: #a0c6e5;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#content #searchbar input {
	background-color: #A0C6E5;
	border-width: 0px;
	font-size: 9pt;
	width: 100px;
	position: relative;
	top: -2px;
	color: #ffffff;
    padding: 0px;
}

#content #searchbar input.button {
	position: relative;
	top: -2px;
	height: 21px;
	width: 100px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #5b8eb8;
	color: #ffffff;
	margin: 0px;
	padding-left: 0px;
	font-weight: bold;
}

#content #results_frame {
	position: absolute;
	top: 50px;
	right: 90px;
	background-color: #A0C6E5;
	width: 300px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 2px;
	padding-left: 5px;
	z-index: 2;
	visibility: hidden;
	word-wrap: break-word;
}

#content #results_frame #results_close {
	position: absolute;
	top: 15px;
	right: 15px;
}

#content #co_button {
	top: 50px;
}

#content #no2_button {
	top: 110px;
}

#content #temp_button {
	top: 170px;
}

#content #hum_button {
	top: 230px;
}

#content .map_buttons {
	position: absolute;
	right: 10px;
	z-index: 2;
}

#content .errormessage {
	text-align: center;
	font-weight: bold;
}

#content .details {
	width: 710px;
	background-color: #E9F2F9;
	padding: 10px;
	display: block;
}

#content .details .left {
	float: left;
	margin-right: 30px;
}

#content .details h4 {
	color: #000000;
	font-size: 100%;
	font-weight: bold;
	display: inline-block;
	padding: 0px 10px;
	width: 200px;
	border-bottom: 1px solid #000000;
	margin: 0px;
	line-height: 20px;
}

#content .details p {
	padding: 0px 20px;
}

#content .details table.metadata {
	width: 320px;
	padding: 0px;
}

#content  .hidden {
	display: none;
}

#content h1 {
	color: #1F3F59;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 2px;
	text-indent: 10px;
	line-height: 150%;
}

#content h2 {
	color: #1F3F59;
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 2px;
	text-indent: 20px;
	line-height: 130%;
}

#content h3 {
	color: #61A0D4;
	font-size: 110%;
	font-weight: bold;
	text-indent: 30px;
	line-height: 100%;
}

#content .outlier {
    font-size: 130%;
    font-family: 'Times New Roman';
    cursor: pointer;
    background-color: #fbe39d;
    padding: 0px 8px;
    margin-right: 6px;
    margin-bottom: 2px;
    float: right;
    position: relative;
    height: 94%;
}

#content .outlier:hover {
    background-color: #ffdd78;
}

#content .outlierhint {
    visibility: hidden;
    position: absolute;
    background-color: #FFFFFF;
    color: #424242;
    min-width: 390px;
    cursor: pointer;
    text-align: justify;
    z-index: 1;
    margin-top: -33px;
    margin-left: 107px;
    padding: 10px;
    border: 4px solid #ffdd78;
}

#content span.error {
	color: #d80000;
	font-weight: bold;
}

#content span.success {
	color: #00aa00;
	font-weight:bold;
}

#content table.form {
    width: 550px;
}

#content input {
	font-family: Calibri, Arial, Verdana, sans-serif;
    font-size: 11pt;
    padding: 5px 15px;
    width: 200px;
}

#content #del_true_button, #content .delete_form_button {
	font-family: Calibri, Arial, Verdana, sans-serif;
    font-size: 11pt;
	padding: 5px 15px;
    width: 234px;
	margin-top: 5px;
	border: none;
	background-color: #619FD3;
	color: #FFFFFF;
	text-decoration: none;
    cursor: pointer;
}

#content #del_true_button:hover, #content .delete_form_button:hover {
	background-color: #9FC0DF;
}

footer {
	background-color: #61A0D4;
	padding: 9px;
    min-height: 85px;
}

footer p {
	margin: 7px;
}

footer p a {
	text-decoration: none;
	color: #FEFEFE;
	padding: 1px 4px;
}

footer p a:hover, a:active {
	background-color: #80B8E5;
}

footer #footer_left {
    float: left;
}

footer #footer_right {
	position:relative;
    float: right;
    padding: 5px;
}

footer #footer_right div {
	position:absolute;
	right: 60px;
	visibility: hidden;
	width:400px;
	text-align:right;
}

footer #footer_right div span {
	font-size:80%;
	background-color: #80B8E5;
	color: #FFFFFF;
	padding:2px 4px;
}

footer #footer_right #english_over {
	top: 12px;
}

footer #footer_right #german_over {
	top: 52px;
}

footer img.language {
    padding: 5px;
}

a {
	text-decoration: underline;
	color: #000000;
}

a:hover, a:active {
	text-decoration: none;
}

#navi_left {
	float: left;
}

#navi_left div {
	background-color: #E9F2F9;
	padding: 10px;
	margin-bottom: 20px;
	width: 50px;
	max-width: 50px;
}

#navi_left div img {
	display: block;
	margin-bottom: 10px;
}

#navi_left div img.active {
	border-right: 10px solid #BCD7ED;
}

#navi_left div img.last {
	margin-bottom: 0px;
}

#time_picker {
	margin-left: 20px;
	height: 33px;
	background-color: #E9F2F9;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

#time_picker div {
	float: left;
	background-color: #A0C6E5;
	margin-right: 10px;
	width: 110px;
	text-align: center;
}

#time_picker div.active {
	background-color: #A0C6E5;
	border-bottom: 10px solid #BCD7ED;
}

#time_picker div a {
	display: block;
	padding: 5px 10px;
	color: #FFFFFF;
	text-decoration: none;
}

#data_content {
	display: inline-block;
	margin: 12px 20px;
	min-height: 500px;
	min-width: 670px;
}

#data_content p {
	max-width: 800px;
}

#data_content table {
	width: 730px;
	background-color: #E9F2F9;
	padding: 10px;
	padding-top: 0px;
}

#data_content table tr th {
	text-align: left;
	padding: 0px 10px;
	border-bottom: 1px solid #1F3F59;
	width: 20%;
}

#data_content table tr td {
	padding: 0px 13px;
	border-bottom: 1px solid #d1d9e0;
    position: relative;
}

#diagram {
	background-color: #E9F2F9;
}

img {
	border: 0px;
}

#links {
    background-image: url(../img/link.png);
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 436px;
}

/* Eigenschaften für die map_big: */

.leaflet-popup{
}

.leaflet-popup-tip{
	background: transparent !important;
	box-shadow: 0 0px 0px transparent !important;
	-moz-box-shadow: 0 0px 0px transparent !important;
	-webkit-box-shadow: 0 0px 0px transparent !important;
}

.leaflet-popup-content-wrapper {
	height: 80px;
	width: 80px;
	/*background: transparent !important;*/
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	box-shadow: 0 0px 0px transparent !important;
	-moz-box-shadow: 0 0px 0px transparent !important;
	-webkit-box-shadow: 0 0px 0px transparent !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	background-image: url(../img/home.png);
}

.leaflet-popup-tip-container {
}

.leaflet-popup-close-button {
	visibility: hidden;
}